<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <extension
            point="org.eclipse.ui.editors">
        <editor
            class="org.culturegraph.mf.ide.ui.MetatextExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="flux"
            id="org.culturegraph.mf.ide.Metatext"
            name="Metatext Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="org.culturegraph.mf.ide.ui.MetatextExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="org.culturegraph.mf.ide.Metatext.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="org.culturegraph.mf.ide.ui.MetatextExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="org.culturegraph.mf.ide.Metatext.validate">
         <activeWhen>
            <reference
                    definitionId="org.culturegraph.mf.ide.Metatext.Editor.opened">
            </reference>
         </activeWhen>
      </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="org.culturegraph.mf.ide.Metatext.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="org.culturegraph.mf.ide.Metatext" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="org.culturegraph.mf.ide.ui.MetatextExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="org.culturegraph.mf.ide.Metatext"
            name="Metatext">
            <keywordReference id="org.culturegraph.mf.ide.ui.keyword_Metatext"/>
        </page>
        <page
            category="org.culturegraph.mf.ide.Metatext"
            class="org.culturegraph.mf.ide.ui.MetatextExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="org.culturegraph.mf.ide.Metatext.coloring"
            name="Syntax Coloring">
            <keywordReference id="org.culturegraph.mf.ide.ui.keyword_Metatext"/>
        </page>
        <page
            category="org.culturegraph.mf.ide.Metatext"
            class="org.culturegraph.mf.ide.ui.MetatextExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="org.culturegraph.mf.ide.Metatext.templates"
            name="Templates">
            <keywordReference id="org.culturegraph.mf.ide.ui.keyword_Metatext"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            class="org.culturegraph.mf.ide.ui.MetatextExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="org.culturegraph.mf.ide.Metatext"
            name="Metatext">
            <keywordReference id="org.culturegraph.mf.ide.ui.keyword_Metatext"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="org.culturegraph.mf.ide.ui.keyword_Metatext"
            label="Metatext"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="org.culturegraph.mf.ide.Metatext.validate"
            name="Validate">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="org.culturegraph.mf.ide.Metatext.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="org.culturegraph.mf.ide.Metatext.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="org.culturegraph.mf.ide.Metatext.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="org.culturegraph.mf.ide.ui.MetatextExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="org.culturegraph.mf.ide.Metatext.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="org.culturegraph.mf.ide.ui.MetatextExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="flux">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="org.culturegraph.mf.ide.ui.MetatextExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="flux">
        </resourceServiceProvider>
    </extension>


    <!-- marker definitions for org.culturegraph.mf.ide.Metatext -->
    <extension
            id="metatext.check.fast"
            name="Metatext Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.fast"/>
        <persistent value="true"/>
    </extension>
    <extension
            id="metatext.check.normal"
            name="Metatext Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.normal"/>
        <persistent value="true"/>
    </extension>
    <extension
            id="metatext.check.expensive"
            name="Metatext Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.expensive"/>
        <persistent value="true"/>
    </extension>

   <extension
         point="org.eclipse.xtext.builder.participant">
      <participant
            class="org.culturegraph.mf.ide.ui.MetatextExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant">
      </participant>
   </extension>
   <extension
            point="org.eclipse.ui.preferencePages">
        <page
            category="org.culturegraph.mf.ide.Metatext"
            class="org.culturegraph.mf.ide.ui.MetatextExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="org.culturegraph.mf.ide.Metatext.compiler.preferencePage"
            name="Compiler">
            <keywordReference id="org.culturegraph.mf.ide.ui.keyword_Metatext"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            category="org.culturegraph.mf.ide.Metatext"
            class="org.culturegraph.mf.ide.ui.MetatextExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="org.culturegraph.mf.ide.Metatext.compiler.propertyPage"
            name="Compiler">
            <keywordReference id="org.culturegraph.mf.ide.ui.keyword_Metatext"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>

	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="org.culturegraph.mf.ide.ui.MetatextExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="org.culturegraph.mf.ide.Metatext.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.culturegraph.mf.ide.Metatext.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
    <!-- quickfix marker resolution generator for org.culturegraph.mf.ide.Metatext -->
    <extension
            point="org.eclipse.ui.ide.markerResolution">
        <markerResolutionGenerator
            class="org.culturegraph.mf.ide.ui.MetatextExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="org.culturegraph.mf.ide.ui.metatext.check.fast">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="org.culturegraph.mf.ide.ui.MetatextExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="org.culturegraph.mf.ide.ui.metatext.check.normal">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="org.culturegraph.mf.ide.ui.MetatextExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="org.culturegraph.mf.ide.ui.metatext.check.expensive">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
    </extension>
   	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="org.culturegraph.mf.ide.ui.MetatextExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.IRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="org.culturegraph.mf.ide.Metatext.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
    <extension point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
         <command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
               style="push">
            <visibleWhen checkEnabled="false">
               <reference
                     definitionId="org.culturegraph.mf.ide.Metatext.Editor.opened">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
	    <page
	        category="org.culturegraph.mf.ide.Metatext"
	        class="org.culturegraph.mf.ide.ui.MetatextExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
	        id="org.culturegraph.mf.ide.Metatext.refactoring"
	        name="Refactoring">
	        <keywordReference id="org.culturegraph.mf.ide.ui.keyword_Metatext"/>
	    </page>
	</extension>

  <extension point="org.eclipse.compare.contentViewers">
    <viewer id="org.culturegraph.mf.ide.Metatext.compare.contentViewers"
            class="org.culturegraph.mf.ide.ui.MetatextExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="flux">
    </viewer>
  </extension>
  <extension point="org.eclipse.compare.contentMergeViewers">
    <viewer id="org.culturegraph.mf.ide.Metatext.compare.contentMergeViewers"
            class="org.culturegraph.mf.ide.ui.MetatextExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="flux" label="Metatext Compare">
     </viewer>
  </extension>
  <extension point="org.eclipse.ui.editors.documentProviders">
    <provider id="org.culturegraph.mf.ide.Metatext.editors.documentProviders"
            class="org.culturegraph.mf.ide.ui.MetatextExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
            extensions="flux">
    </provider>
  </extension>

  <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    <launchConfigurationTypeImage
        icon="icons/source.gif"
        configTypeID="org.culturegraph.mf.ide.launching"
        id="org.culturegraph.mf.ide.launching.image">
    </launchConfigurationTypeImage>
  </extension>

  <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
        <launchConfigurationTabGroup
            type="org.culturegraph.mf.ide.launching"
            class="org.culturegraph.mf.ide.ui.launching.MetatextTabGroup"
            id="org.culturegraph.mf.ide.launching.launchConfigurationTabGroup">
        </launchConfigurationTabGroup>
   </extension>

   <extension point="org.eclipse.debug.ui.launchShortcuts">
        <shortcut
            id="org.culturegraph.mf.ide.ui.launching.shortcut"
            class="org.culturegraph.mf.ide.ui.launching.MetatextLaunchShortcut"
            label="Metatext Workflow"
            icon="icons/source.gif"
            modes="run">
            <contextualLaunch>
               <enablement>
                 <with variable="selection">
                   <count value="1"/>
                   <iterate>
                        <test property="org.eclipse.debug.ui.matchesPattern" value="*.flux"/>
                   </iterate>
                 </with>
               </enablement>
             </contextualLaunch>
        </shortcut>
   </extension>

</plugin>
